/* BILLING */

.bill input{
    color: #333;
    background-color: #f0f0f0;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0;
}
select{
    width:300px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}
select::-ms-expand{
    display: none;
}
.col{
border-right: 1px solid #808488;
}
.col:last-child{
border-right: none;
}
.bill label{
    color: #666;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.success-message {
    color: green;
    margin-top: 10px;
}
#invoiceButton{
display: none;
}
.mobilePay{
    display: none;
}
.bill,.billingQueue{
    border-top: 2px solid lightblue;
    border-radius: 5px;
}
.billingQueue input{
    background-color: whitesmoke;
}
.billingQueue label{
    font-weight: bold;
    padding-left: 10px;
}
.namesList ul{
    list-style: none;
}
.top-bar {
    background-color: #73879c;
    color: #fff;
    padding: 10px 0;
  }
  .hospital-name {
    margin-left: 20px;
  }
  .room-indicator {
    flex: 1;
    text-align: center;
  }
  .queue-button {
    margin-right: 20px;
  }
  #contextMenu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    z-index: 1000;
    width: 100%;
    min-width: 120px; /* Set a minimum width */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  }
  #contextMenu menuitem {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
  }

  #contextMenu menuitem:hover {
    background-color: #f0f0f0;
  }