.top-bar {
    background-color: #73879c; /* Adjust color as needed */
    color: #fff;
    padding: 10px 0;
  }
  .hospital-name {
    margin-left: 20px;
  }
  .room-indicator {
    flex: 1;
    text-align: center;
  }
  .queue-button {
    margin-right: 20px;
  }
  .col{
    border-right: 1px solid #808488;
    }
    .col:last-child{
    border-right: none;
    }
    #queue {
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 5px;
  }
  
