
.top-bar {
    background-color: #73879c;
    color: #fff;
    padding: 10px 0;
  }
  .hospital-name {
    margin-left: 20px;
  }
  .room-indicator {
    flex: 1;
    text-align: center;
  }
  .queue-button {
    margin-right: 20px;
  }
  /*
  .search-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  */
  #searchInput { 
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 5px;
    width: 80%;
    
  }

  /*#suggestions{
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  padding: 10px; 
  max-width: 400px; 
  margin: 0 auto; 
  }
  */
  #queue {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
}
.patientDetails{
  width: 100%;
  margin: 0 auto;
  padding: 20px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 10px;
}
.patientDetails label{
font-weight: bold;
}
.patientDetails input{
  width: 70%;
}
.patientDetails select{
  width: 70%;
}
#dob{
  width: 70%;
}


  